.navigation {
    color: #fff;

    &__list {
        display: flex;
        justify-content: flex-end;
        list-style: none;

        li {
            font-size: 1.5rem;
            margin: 3.3rem;
            z-index: 1000;
            text-decoration: none;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;

        &:hover {
            color: rgb(23, 61, 187);
        }
    }
}
