.works-section {

  &-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      margin: 2rem;

      @media (max-width: 37.5em) {
        margin: 1rem;
      }

    }
  }
}


.works {
  position: relative;
  overflow: hidden;
}

.mask {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  width: 350px;
  height: 250px;
  background: rgba(0, 0, 0, .6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  font-size: 1.5rem;
  padding-top: 25%;

  @include respond(tab-port) {
    display: none;
  }

}

.works:hover .mask {
  opacity: 1;
}
